header{
    text-align: center;
    font-family: $headerNav;
  
    .logo-molisana{
      width: 300px;
      margin: 50px;
    }
  
    nav{
  
      .header-nav-list{
        list-style: none;
        display: flex;
        justify-content: center;
  
        & li{
          margin-bottom: 30px;
  
          & a{
            text-decoration: none;
            font-size: 30px;
            color: black;
            padding: 30px;
  
            &.active{
              background-color: $secondaryColor;
            }
          }
        }
      }
    }
  }
  